.pageNotFound{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
      top: 40%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 70%;
      height: 50%;
}
.pageNotFound{
    display: none;
}
#constructionTag{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 80px;
    font-weight: 700;
}

/* .actualGame{
    display: block;
} */

/* Web CSS */
.game_screen{
    display: flex; 
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.theme{
    margin-top: 100px;
    font-size: 40px;
}
.themePicker {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
    margin-top: 20px;
    background-color:aliceblue;
    border-radius: 10px;
}
.theme_btn{
    width: 400px;
    height: 100px;
    margin: 30px;
    border: none;
    border-radius: 8px;
    font-size: 25px;
    font-weight: 600;
    color: white;
    text-align: center;
}
.theme_btn1{
    background-color: red;
}
.theme_btn2{
    background-color: green;
}
.theme_btn3{
    background-color: blue;
}
.theme_btn4{
    background-color: rgb(255, 153, 0);
}
.theme_btn5{
    background-color: rgb(195, 0, 255);
}
.theme_btn6{
    background-color: rgb(0, 200, 255);
}
.mainGame_screen{
    margin-top: 100px;
    display: none;
}

/* Main Game CSS */
.game_main{
    display: flex;
    justify-content: center;
    align-items: center;
}
.img1{
    /* border: 1px solid red; */
    text-align: center;
    padding-left: 300px;
    width: 60%;
}
.hangman {
    /* border: 1px solid black; */
    display: flex;
    flex-direction:column ;
    justify-content: center;
    align-items:center;
    padding-top: 60px;
    padding-right: 450px;
    width: 60%;
}
  
.givenWord{
    /* border: 1px solid red; */
    font-size: 55px;
    font-weight: 600;
}
#WordCount{
    margin: -100px 0px 0px 80px;
}
.textBox{
    margin-top: 30px;
}
.textWord{
    font-weight: 500;
    font-size: 20px;
    text-align: center;
}
input[type=text] {
    width: 300px;
    height: 35px;
    font-size: 20px;
}
.wordGuess_Btn{
    margin-top: 10px;
    cursor: pointer;
    border: 1px white solid;
    border-radius: 7px;
    text-align: center;
    width: 300px;
    height: 60px;
    font-size: 20px;
    color: white;
    font-weight: 600;
    background-color: rgb(29, 181, 29);
    transition: 20ms ease-out;
}


/* Return Home */
.returnHome_btn{
    display: block;
    margin: 20px auto;
    width: 300px;
    height: 70px;
    border: none;
    border-radius: 7px;
    font-size: 30px;
    font-weight: 600;
    color: white;
    background-color: red;
}

/* Responsive */
/* @media only screen and (max-width: 600px) {
    .theme{
        margin-top: 30px;
        font-size: 28px;
    }
    .themePicker {
      grid-template-columns: 1fr;
      grid-gap: 5px;
      margin-top: 10px;
    }
    .theme_btn{
        width: 240px;
        height: 65px;
        font-size: 18px;
    }
    
}
@media only screen and (min-width: 600px) and (max-width: 760px) {
    .themePicker {
      grid-template-columns: repeat(1, 1fr);
    }
    .theme{
        margin-top: 30px;
    }
    .theme_btn{
        width: 340px;
        height: 90px;
        font-size: 25px;
    }
}
  
  @media only screen and (min-width: 760px) and (max-width: 900px) {
    .themePicker {
      grid-template-columns: repeat(2, 1fr);
    }
    .theme{
        margin-top: 80px;
    }
    .theme_btn{
        width: 300px;
        height: 90px;
        font-size: 25px;
    }
  }
  
  @media only screen and (min-width: 901px) {
    .themePicker {
      grid-template-columns: repeat(2, 1fr);
    }
  } */

@media only screen and (max-width: 425px) {
    .theme{
        margin-top: 30px;
        font-size: 28px;
    }
    .themePicker {
        grid-template-columns: 1fr;
        grid-gap: 5px;
        margin-top: 10px;
    }
    .theme_btn{
        width: 240px;
        height: 65px;
        font-size: 18px;
    }
    .game_main {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-top: -50px;
        /* border: 5px solid blue; */
    }
    .img1 {
      border: 1px solid red;
      width: 100%;
      padding-left: 0;
      padding-right: 0;
    }
    .img1 img{
      width: 400px;
      height: 450px;
    }
    
}

@media only screen and (min-width: 426px) and (max-width: 768px) {
    .themePicker {
        grid-template-columns: repeat(1, 1fr);
    }
    .theme{
        margin-top: 30px;
    }
    .theme_btn{
        width: 340px;
        height: 90px;
        font-size: 25px;
    }
}

@media only screen and (min-width: 769px) and (max-width: 1024px) {
    .themePicker {
        grid-template-columns: repeat(2, 1fr);
    }
    .theme{
        margin-top: 80px;
    }
    .theme_btn{
        width: 300px;
        height: 90px;
        font-size: 25px;
    }
}
    
@media only screen and (min-width: 1025px) and (max-width: 1440px) {
    .themePicker {
        grid-template-columns: repeat(2, 1fr);
    }
}